.query_fragment {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
}

.query_fragment li {
    display: inline;
    margin: 0;
}

.query_fragment.or {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.query_fragment.or .right_op {
    position: absolute;
    bottom: -1.2em;
    left: 40%;    
}

.advanced_search .filter_value {
    width: 250px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.advanced_search .filter_value_multiple {
    width: 110px;
}

.advanced_search .filter_value_combine {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.advanced_search #form-empty {
    display: none;
}

a.add-form {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background: url(../../admin/img/admin/icon_addlink.gif) no-repeat left center;
    display: none; /* we don't want the button for now. we might want it in the future, so let's just hide it */
}

a.delete-form {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    background: url(../../admin/img/admin/icon_deletelink.gif) no-repeat left center;
}

.actions button {
    margin-right: 5px;
}

.search_label {
    margin: 5px 5px 5px 0;
}

.search_label span {
    padding: 1px;
    margin: 1px 0 1px 0;
    display: inline-block;
}

.label_fragment {
    background: #C7C9C9;
}

.label_value, .label_name, .label_operator, .label_classname {
    font-weight: bold;
}

.label_operator {
    padding: 0 3px;
}

.label_lookup, .label_operator {
    color: #951690;
}

p#no-result {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: 0;
    padding: 10px 10px 10px 60px;
}

/* Results details */

.result-details .details-row {
    vertical-align: top;
    padding: 4px;
    clear: both;
    overflow: auto;
}

.result-details .details-row > div {
    vertical-align: top;
    margin-left: 11em;
}

.result-details .details-row > div:first-of-type {
    font-weight: bold;
    padding-right: 1em;
    width: 10em;
    text-align: right;
    float: left;
    margin-left: 0;
}

.result-details .details-row.pages > div.page {
    min-width: 150px;
    border: solid 1px #ccc;
    margin: 0 10px 10px;
    padding: 10px 10px 15px;
    text-align: center;
    display: inline-block;
    background: white;
    width: auto;
}
.result-details .details-row.pages > div.page > a {
    display: block;
    margin: 10px auto;
}


/* *** Simple search *** */
#dynamiq_search {
    min-height: 30px;
    padding: 5px 0;
    margin-bottom: 10px;
}

/* *** Advanced search *** */
.advanced_search {
    margin-left: auto;
    margin-right: auto;
    width: 660px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px dotted #000;
    padding: 13px 0 13px 13px;
}
.advanced_search h1 {
    background-color: #f5f5f5;
    padding: 5px;
    color: #000;
    margin-right: 10px;
}
.advanced_search h3 {
    padding: 10px 0 5px 0;
    color: #000;
    /* border-bottom: 1px solid #111;*/
}
.advanced_search h3, .advanced_search h2 {
    padding-left: 10px;
}
.advanced_search .advanced_search_module {
    padding: 0 20px;
}

.advanced_search .filter_lookup {
    width: 20%;
}

#filters_builders {
    padding-left: 10px;
    margin-top: 10px;
    color: grey;
    font-size: 11px;
}

#filters_builders a:hover {
    text-decoration: underline;
}

/* *** Forms elements *** */
.search_form input[type="text"] {
    height: 20px;
}
.search_form select {
    background-color: #fff;
    height: 26px;
    font-size: 13px;
}
.search_form input[type="submit"] {
    width: 60px;
}
.simple_search_form #id_simplesearch-q {
    width: 500px;
}

.advanced_search input[type="text"] {
    height: 26px;
}

/* *** Search options *** */
.search_options .moreoptions_field {
    display: inline;
}
.search_options .inline_field {
    /*display: block;
    float: left;
    border-right: 1px solid #f0f0f0;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;*/
    margin-left: 40px;
    display: table-row;
}
.search_options .inline_field label {
    padding-right: 5px;
    height: 30px;
    line-height: 30px;
    display: table-cell;
}
.search_options .inline_field input, .search_options .inline_field select {
    display: table-cell;
}
.search_options {
    clear: both;
    padding: 0;
}
.search_options ul {
    padding-left: 10px;
    display: table;
}
#more_search_options, #more_search_options_advanced {
    font-style: italic;
    padding: 0 10px;
    color: #000;
    text-decoration: underline;
    color: #000000;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}

/* Specific overrides in popup */

body.popup #id_simplesearch-q {
    width: 260px;
}

